.list{
    background-color: white;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding-bottom: 10px;
}
form{
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    box-sizing: border-box;
}
form legend{
    font-size: 120%;
    font-weight: bold;
    text-align: center;
}
#box{
    padding-top: 20px;
    background-color: white;
}
@media screen and (min-width:768px) {
    .trick{
        display: none;
    }
}

.list a{
    margin-top: 5px;
    margin-bottom: 5px;
    color: black;
    text-decoration: none;
}

#headerBrowse{
    font-weight: bold;
    text-decoration: underline;
}

