.pure-form {
    background-color: white;
    margin-top: 20px;
}

legend {
    font-size: 150%;
    font-weight: bold;
    text-align: center;
}

#foo > * {
    margin-top: 5px;
    margin-bottom: 5px;
}

#errorArea {
    color: red;
}