body{
    background-color: #f6f6f6;
}
header{
    background-image: linear-gradient(lightskyblue,deepskyblue);
    font-size: 140%;
    color: white;
    padding: 10px;
    position: relative;
    font-weight: bold;
}
header a{
    color: white;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}
#personalCenter{
    position: absolute;
    right: 0;
    text-align: right;
    display: inline;
}
#login{
    position: absolute;
    right: 0;
    text-align: right;
    display: inline;
}
#headerDropdownMenu{
    position: relative;
    background-image: linear-gradient(lightskyblue,deepskyblue);
    top: 10px;
    font-size: 80%;
    display: none;
    font-weight: normal;
}
#headerDropdownMenu>a{
    display: block;
    padding: 5px;
}
#personalCenter:hover #headerDropdownMenu{
    display: block;
}


.thumbnail{
    object-fit: cover;
    width: 150px;
    height: 150px;
    max-width: 100%;
}

footer{
    background: black;
    color: white;
    font-size: 110%;
    padding: 10px;
}
footer>a{
    color:white;
}

